// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

//colors
$standardBackground: #1E1E1E;
$accentColor: #969231;
$darkerGrey : hsla(56,67%,1,0.33);

