html{
    font-family:'Open Sans', sans-serif;
    font-size:16px;
    font-weight:700;
}
body{
    overflow:hidden;
}
h1{
    color:$accentColor;
    font-weight:bold;
    margin-bottom:1.2rem;
}
p{
    color:white;
    font-weight:400;
    font-size:0.8rem;
    margin-bottom:1.2rem;
    line-height:1.1rem;
}
.text__accent{
    color:$accentColor;
}
.submenu__title{
    font-size:1rem;
}
.align__middle{
    text-align: center;
}
.text__error{
    color:red;
}
.login__error{
    text-align: center;
}

.weather__date, .weather__text, .weather__temp{
    margin-bottom:0;
}