.filter__block{

    background-color:$standardBackground;
    background-blend-mode:overlay;
    padding-bottom:2rem;
    z-index:1;
    position:absolute;
    bottom:0;
    padding-left:1rem;
    padding-right:2rem;
    transition: all 368ms ease-in-out 0s;
}

.activityDetail__block{
     background-color:$standardBackground;
    background-blend-mode:overlay;
    padding-bottom:2rem;
    z-index:1;
    position:absolute;
    bottom:0;
    padding-left:1rem;
    padding-right:2rem;
    transition: all 368ms ease-in-out 0s;
}

.offCanvas__bottom--hidden{
    bottom: -290px;
    transition: all 368ms ease-in-out 468ms;
}
.offCanvas__bottom--hiddenDeep{
    bottom: -800px;
    transition: all 368ms ease-in-out 468ms;
}
.offCanvas__bottom{
    bottom: -230px;
    transition: all 368ms ease-in-out 468ms;
}

.activity__detail--container p:first-child{
    color:$accentColor;
    font-size:1rem;
}
.activity__detail--container p:nth-child(4){
    color:$accentColor;
}